@import '_settings'

$light-background = white;
$dark-background = #ecf0f1;
$headings = #34495e;
$body-background = #ff9e43;

$time-width = 4rem;
$row-height = 4rem;

:root {
  --colour-1: #F96169;
  --colour-2: #F9C945;
  --colour-3: #88C42F;
  --colour-4: #1F82C4;
  --colour-5: #6D5193;
}

html, body {
  width: 100%;
}

body {
  background: $body-background;
  color: white;
}

#times {
  position: fixed;
  top: 0;
  left: 0;
  width: $time-width;

  font-size: 0.8rem;
}

.time {
  height: $row-height;
}

#main {
  table-layout: fixed;
  width: "calc(100% - %s)" % $time-width;
  min-width: 800px;
  max-width: 1200px;
  margin-left: $time-width;
}

.day {
  height: 2.5rem;
}

th {
  text-align: center;
  background: $headings;
  font-weight: normal;
}

td {
  height: "calc(%s / 2)" % $row-height;
  padding: 0 0.5rem;
  background: $light-background;
}

tr:nth-child(4n+4) > td, tr:nth-child(4n+5) > td {
  background-color: $dark-background;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  font-size: 0.8rem;
}

@media (min-width: calc(1264px)) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  #times {
    position: initial;
  }

  #main {
    margin: 0;
  }
}