extends layout

block content
  #sideMenu
    a(href="#home") Home
    a(href="#about") About
    a(href="#projects") Projects
    a(href="#contact") Contact

  .container
    header#home
      .innerHeader
        .title
          .name Reece Bennett
          .tagLine Computer Science Student
        .links
          a#aboutLink(href="#about") about
          span.spacer  - 
          a#projectsLine(href="#projects") projects
          span.spacer  - 
          a#contactsLink(href="#contact") contact
    
    main
      section#about
        .innerSection
          img(src="img/skiingCrop.jpg")
          p Hey! I'm a Computer Science student at the University of Birmingham, avid gamer and hobbyist programmer. I aspire to become a professional developer.
          p I'm proficient in JavaScript/TypeScript, HTML, CSS, Lua and Java and am always on the lookout for new things to learn.

      section#projects
        .innerSection
          h1 Projects
          -
            var projectList = [
              {
                title: "Pixel Alchemy",
                image: "pixelAlchemyCover.png",
                description: "A small game made for the first Fantasy Console Jam. The game was coded in Lua using the TIC-80 fantasy console.",
                link: "https://physcokillermonkey.itch.io/pixel-alchemy"
              },
              {
                title: "Tiny Colonies",
                image: "tinyColoniesCover.png",
                description: "A game made for Ludum Dare 38 in 48 hours. You have been tasked with colonising a barren planet. Arriving with limited resources you must build and reap the land to survive.",
                link: "https://www.lexaloffle.com/bbs/?tid=29203"
              },
              {
                title: "LMHTFY",
                image: "lmhtfyCover.png",
                description: "A little spoof page made during downtime at BrumHack 5. 'Let me Hoogle that for you' is a spin of LMGTFY but for the Haskell language search engine.",
                link: "/demo/lmhtfy"
              }
            ]
          - for project in projectList
            a.item(href= project.link) 
              img(src= "img/" + project.image)
              .text
                .title= project.title
                .desc= project.description 

      section#contact
        .innerSection
          h1 Contact
          a(href="mailto:reece.bennett1@gmail.com" target="_blank") reece.bennett1@gmail.com
          a(href="tel:+447914975356") +44 7914 075356
          .socialLinks
            a.fa.fa-fw.fa-twitter(href="https://twitter.com/BenneyBoy444")
            a.fa.fa-fw.fa-codepen(href="https://codepen.io/PhyscoKillerMonkey/")
            a.fa.fa-fw.fa-github(href="https://github.com/PhyscoKillerMonkey")
            a.fa.fa-fw.fa-linkedin(href="https://www.linkedin.com/in/reece-bennett/")
            a.fa.fa-fw.fa-youtube(href="https://www.youtube.com/benneyboy444")
            a.fa.fa-fw.fa-stack-overflow(href="https://stackoverflow.com/users/2303034/benneyboy444")

  .menuButton(onclick="toggleMenu(this)")
    .bar1
    .bar2
    .bar3