extends layout

block content
  #sideMenu
    a(href="#home") Home
    a(href="#about") About
    a(href="#projects") Projects
    a(href="#contact") Contact

  .container
    header#home
      .innerHeader
        .title
          .name Reece Bennett
          .tagLine Computer Science Student
        .links
          a#aboutLink(href="#about") about
          span.spacer  - 
          a#projectsLine(href="#projects") projects
          span.spacer  - 
          a#contactsLink(href="#contact") contact
    
    main
      section#about
        .innerSection
          img(src="img/skiingCrop.jpg")
          p Hey! I'm a Computer Science student at the University of Birmingham, avid gamer and hobbyist programmer. I aspire to become a professional developer.
          p I'm proficient in JavaScript/TypeScript, HTML, CSS, Lua and Java and am always on the lookout for new things to learn.

      section#projects
        .innerSection
          h1 Projects
          p Here are some of the projects that I have worked on...

      section#contact
        .innerSection
          h1 Contact
          a.socialLink(href="mailto:hello@r-bennett.com" target="_blank") 
            i.fa.fa-2x.fa-envelope
            | hello@r-bennett.com
          a.socialLink(href="tel:+447914975356") 
            i.fa.fa-2x.fa-phone
            | +447914 075356
          a.socialLink(href="https://twitter.com/BenneyBoy444") 
            i.fa.fa-2x.fa-twitter
            | twitter.com/BenneyBoy444
          a.socialLink(href="https://codepen.io/PhyscoKillerMonkey/") 
            i.fa.fa-2x.fa-codepen
            | codepen.io/PhyscoKillerMonkey
          a.socialLink(href="https://github.com/PhyscoKillerMonkey") 
            i.fa.fa-2x.fa-github
            | github.com/PhyscoKillerMonkey
          // Linkedin, Youtube and stack overflow

  .menuButton(onclick="toggleMenu(this)")
    .bar1
    .bar2
    .bar3