doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Reece Bennett's Portfolio"
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    != css()

  body
    block content

    != js()
