extends _layout

block head
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.css")
  link(rel="stylesheet", href="/css/timetable.css")

block content
  table#times
    tbody
      tr
        th.day

  table#main
    tbody
      tr
        th.day Monday
        th.day Tuesday
        th.day Wednesday
        th.day Thursday
        th.day Friday

  //- Javascript
  script(src="/js/timetable.js")