@import '_settings'

normalize-css()
base()

*
  box-sizing: border-box;

a
  text-decoration: none;
  color: inherit;
  transition: color 0.1s;

a:hover
  color: $teal;
  transition: all 0.15s;

#menuButton
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transform: translateX(0rem);
  transition: 0.4s;
  z-index: 10;

#menuButton.open
  transform: translateX(-20rem);

.bar1, .bar2, .bar3
  width: 35px;
  height: 5px;
  background: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;

.open .bar1
  transform: rotate(-45deg) translate(-8px, 8px);

.open .bar2
  opacity: 0;

.open .bar3
  transform: rotate(45deg) translate(-8px, -8px);

#sideMenu
  background: grey;
  height: 100vh
  width: 20rem;
  position: fixed;
  right: 0;
  transform: translateX(20rem);
  transition: 0.4s;
  padding-top: 4rem;
  z-index: 5;

#sideMenu.open
  transform: translateX(0rem);

#sideMenu a
  display: block;
  width: max-content;
  margin: auto;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  cursor: pointer;
  color: white;

#sideMenu a:hover
  color: $teal;

#sideMenu.open + .container
  transform: translateX(-20rem);

.container
  transform: translateX(0rem);
  transition: 0.4s;

#pageFade
  opacity: 0;
  transition: opacity 1s;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  // "Scrim" gradient from https://css-tricks.com/easing-linear-gradients/
  background: -webkit-linear-gradient(top,
    rgba(255,255,255,1),
    rgba(255,255,255,0.738) 19%,
    rgba(255,255,255,0.541) 34%,
    rgba(255,255,255,0.382) 47%,
    rgba(255,255,255,0.278) 56.5%,
    rgba(255,255,255,0.194) 65%,
    rgba(255,255,255,0.126) 73%,
    rgba(255,255,255,0.075) 80.2%,
    rgba(255,255,255,0.042) 86.1%,
    rgba(255,255,255,0.021) 91%,
    rgba(255,255,255,0.008) 95.2%,
    rgba(255,255,255,0.002) 98.2%,
    rgba(255,255,255,0) 100%
  );
  background: linear-gradient(to bottom,
    rgba(255,255,255,1),
    rgba(255,255,255,0.738) 19%,
    rgba(255,255,255,0.541) 34%,
    rgba(255,255,255,0.382) 47%,
    rgba(255,255,255,0.278) 56.5%,
    rgba(255,255,255,0.194) 65%,
    rgba(255,255,255,0.126) 73%,
    rgba(255,255,255,0.075) 80.2%,
    rgba(255,255,255,0.042) 86.1%,
    rgba(255,255,255,0.021) 91%,
    rgba(255,255,255,0.008) 95.2%,
    rgba(255,255,255,0.002) 98.2%,
    rgba(255,255,255,0) 100%
  );
  transform: translateX(0rem);

@media(max-width: 850px)
  #pageFade
    opacity: 1;

body
  font-family: $open-sans;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  background: #fafafa;

header
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

header .title
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

header .name
  font-family: $pacifico;
  font-size: 5rem;
  line-height: 4.8rem;
  margin-left: -0.1rem;
  color: #333;

@media(max-width: 529px)
  header .name
    margin-bottom: 1rem;

header .tagLine
  font-size: 1.9rem;

header .links
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3rem;

.spacer
  width: 2rem;
  text-align: center;
  cursor: default;

main
  padding: 0 5%;

section
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

.innerSection
  margin: auto;

h1
  font-family: $pacifico;
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
  color: #333;

h2
  font-weight: normal;

h3
  font-weight: normal;


// About section
#about img
  border: 8px white solid;
  border-radius: 7rem;
  width: 14rem;
  display: block;
  margin: auto;
  margin-bottom: 3rem;


// Work section
#work h2, #work h3
  margin: 0;

#work h3
  margin: 0 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);


// Projects section
$mar = 1.5rem;
$bRad = 2px;

#projects
  padding-top: 2rem;

.item
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: $mar;
  padding-bottom: $mar;

.item:not(:last-child)
  border-bottom: 1px solid rgba(0,0,0,0.2);

.item img
  width: 315px;
  height: 250px;

.item .text 
  font-family: sans-serif;
  padding: 1rem;
  padding-left: calc(2rem - 10px);
  text-align: left;

.item .title 
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;

.item .desc
  margin-bottom: 3rem;

.item .links
  position: absolute;
  bottom: 2.2rem;

.item .links > *
  float: left;
  text-align: center;

.item a
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  margin-right: 1rem;

@media (max-width: 700px)
  .item
    flex-direction: column;
    padding-bottom: 0.5rem;

  .item img
    width: 100%;
    height: 100%;

  .item .desc
    margin-bottom: 1rem;

  .item .links
    position: relative;
    bottom: 0;

// Contact section
#contact a
  display: block;
  width: max-content;
  margin: auto;

#contact .socialLinks
  margin: 2.5rem auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

#contact .socialLinks a
  margin: 0 0.5rem;
  font-size: 2rem;


@media (max-width: 500px)
  #sideMenu.open
    width: 100vw;

  #menuButton.open
    transform: translateX(0rem);

  #sideMenu.open + .container
    transform: translateX(-100%);