:root {
  --colour-1: #f96169;
  --colour-2: #f9c945;
  --colour-3: #88c42f;
  --colour-4: #1f82c4;
  --colour-5: #6d5193;
}
html,
body {
  width: 100%;
}
body {
  background: #ff9e43;
  color: #fff;
}
#times {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  font-size: 0.8rem;
}
.time {
  height: 4rem;
}
#main {
  table-layout: fixed;
  width: calc(100% - 4rem);
  min-width: 800px;
  max-width: 1200px;
  margin-left: 4rem;
}
.day {
  height: 2.5rem;
}
th {
  text-align: center;
  background: #34495e;
  font-weight: normal;
}
td {
  height: calc(4rem / 2);
  padding: 0 0.5rem;
  background: #fff;
}
tr:nth-child(4n+4) > td,
tr:nth-child(4n+5) > td {
  background-color: #ecf0f1;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.location {
  font-size: 0.8rem;
}
@media (min-width: calc(1264px)) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  #times {
    position: initial;
  }
  #main {
    margin: 0;
  }
}
