extends ../layout

block head
  <meta http-equiv="refresh" content="0; url=https://docs.google.com/spreadsheets/d/1dEsOWBN72If_-93p4NMDkwI-LuOl-yrlof4luWKReus/edit#gid=0"> 

block content
  h1 Redirecting you to the timetable...